.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content-container {
  display: flex;
  width: 100%;
}

.week-card-container {
  display: flex;
  align-items: center;
  padding: 10px 0;
  min-width: max-content;
  margin-left: 10px;
}

.date-card {
  width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: var(--main-text-color);
  font-size: 18px;
  margin-right: 10px;
  background-color: var(--navbar-sidebar-color);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.label-container {
  display: flex;
  flex-grow: 1;
  white-space: nowrap;
}

.status-label {
  padding: 8px 16px;
  border-radius: 20px;
  color: var(--main-text-color);
  font-size: 16px;
  text-align: center;
  margin-right: 10px;
}

.status-label.upcoming { background-color: var(--upcoming-card); }
.status-label.live { background-color: var(--live-card); }
.status-label.finished { background-color: var(--finished-card); }

.date-sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: auto;
}

.date-event-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.events-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

::ng-deep ::-webkit-scrollbar {
  width: 12px;
}
::ng-deep ::-webkit-scrollbar-track {
  background: var(--navbar-sidebar-color);
}
::ng-deep ::-webkit-scrollbar-thumb {
  background-color: var(--navbar-sidebar-color);
  border-radius: 10px;
  border: 3px solid var(--button-active-color);
}


