@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Noto Sa ns Display', sans-serif;
}


:root {
  --navbar-sidebar-color: #ffffff;
  --background-color: #f0f0f0;
  --background-color2: #f0f0f0;
  --main-text-color: #000000;
  --active-text-color: #ffffff;
  --button-active-color: #1BA098;
  --auth-button: #1BA098;
  --input-text-color: #1A1A1A;

  --navbar-height: 7rem;

  --transition-duration: 200ms;
}

.dark {
  --navbar-sidebar-color: #141414;
  --background-color: #1A1A1A;
  --main-text-color: #ffffff;
  --active-text-color: #000000;
  --button-active-color: #3ED6B9;
  --input-color:  #ffffff;
  --input-text-color: #f0f0f0;
}

.app-content {
  max-height: 100vh;
}

.app-navbar {
  width: 100%;
}

.app {
  display: flex;
  overflow: auto;
  max-height: calc(100vh - var(--navbar-height));
}

.auth-title{
  text-align: center;
}

.mr-2rem {
  margin-right: 2rem;
}

.mt-1rem {
  margin-top: 1rem;
}

.mt-1p5rem{
  margin-top: 1.5rem;
}

.mt-2rem {
  margin-top: 2rem;
}

.mt-4rem {
  margin-top: 4rem;
}

.mb-1rem{
  margin-bottom: 1rem;
}

.mb-2rem{
  margin-bottom: 2rem;
}

.mb-5rem{
  margin-bottom: 5rem;
}

.mt-5rem{
  margin-bottom: 5rem;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: var(--button-active-color)  !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: var(--button-active-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--input-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--input-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
  color: var(--input-text-color) !important;
}

.mat-input-element:not(.mat-input-element--disabled) {
  color: var(--input-color) !important;
}

.mat-input-element:not(.mat-input-element--disabled)::placeholder {
  color: var(--input-text-color) !important;
}

.mat-calendar {
  background-color: var(--navbar-sidebar-color) !important;
  color: var(--input-color) !important;
}

.mat-calendar-body-selected {
  background-color: var(--button-active-color) !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: var(--button-active-color) !important;
}

.mat-calendar-body-cell-content {
  color: var(--input-text-color) !important;
}

.mat-calendar-period-button {
  color: var(--input-text-color) !important;
}
.mat-datepicker-content,
.mat-calendar
time-container{
  border: 1px solid var(--button-active-color) !important;
}

.time-container{
  background-color: var(--navbar-sidebar-color) !important;
}

.time-container {
  background-color: var(--navbar-sidebar-color) !important;
}

.mat-mdc-input-element {
  color: var(--input-text-color) !important;
}
.mat-mdc-button-touch-target{
  color: var(--input-text-color) !important;
}

.mat-datepicker-toggle button{
  color: var(--input-text-color) !important;
}

.mat-mdc-focus-indicator{
  color: var(--input-text-color) !important;
}

.mat-mdc-button-touch-target{
  color: var(--input-text-color) !important;
}

.mat-ripple mat-mdc-button-ripple{
  color: var(--input-text-color) !important;
}

.mat-mdc-select-panel {
  background-color: var(--navbar-sidebar-color)  !important;
}

.mdc-list-item__primary-text{
  color: var(--input-text-color) !important;
}

.mat-pseudo-checkbox mat-mdc-option-pseudo-checkbox mat-pseudo-checkbox-full ng-star-inserted{
  color: var(--input-text-color) !important;
}

.mat-mdc-select-panel .mdc-list-item__primary-text,
.mat-mdc-select-panel .mat-option-text {
  color: var(--input-text-color) !important;
}

.mat-mdc-select-panel .mat-pseudo-checkbox,
.mat-mdc-select-panel .mat-mdc-option-pseudo-checkbox .mat-pseudo-checkbox-full {
  color: var(--input-text-color) !important;
}

.mat-select-value {
  color: var(--input-text-color) !important;
}

.mat-select-arrow, .mat-select-arrow-wrapper::after {
  color: var(--input-text-color) !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.events-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width:100%;
}
