@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Noto Sa ns Display', sans-serif;
}


:root {
  --navbar-sidebar-color: #ffffff;
  --background-color: #f0f0f0;
  --main-text-color: #000000;
  --active-text-color: #ffffff;
  --button-active-color: #1BA098;
  --auth-button: #1BA098;

  --navbar-height: 7rem;

  --transition-duration: 200ms;
}

.dark {
  --navbar-sidebar-color: #141414;
  --background-color: #1A1A1A;
  --main-text-color: #ffffff;
  --active-text-color: #000000;
  --button-active-color: #3ED6B9;
}

.app-content {
  max-height: 100vh;
}

.app-navbar {
  width: 100%;
}

.app {
  display: flex;
  overflow: auto;
  max-height: calc(100vh - var(--navbar-height));
}

.auth-title{
  text-align: center;
}

.mr-2rem {
  margin-right: 2rem;
}

.mt-2rem {
  margin-top: 2rem;
}

.mb-2rem{
  margin-bottom: 2rem;
}

.mb-5rem{
  margin-bottom: 5rem;
}

.mt-5rem{
  margin-bottom: 5rem;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
