  <form [formGroup]="registerForm" (ngSubmit)="onRegister()" *ngIf="!registrationSuccess">
    <div class="auth-title mb-2rem">
      <h1>Register</h1>
    </div>

    <div *ngIf="registrationError" class="error-message">
      <p>{{ registrationError }}</p>
    </div>


    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="username" placeholder="Enter your email">
      <mat-error *ngIf="registerForm.get('username')?.invalid">
        Please enter a valid email
      </mat-error>
    </mat-form-field>


    <mat-form-field color="primary" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
      </button>
      <mat-error *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        Please enter a valid password
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="name" placeholder="Enter your username">
    </mat-form-field>

    <mat-form-field color="primary" appearance="outline">
      <mat-label>Family Role</mat-label>
      <input matInput formControlName="role" placeholder="Enter your family role">
      <button mat-icon-button matSuffix type="button">
      </button>
    </mat-form-field>

    <mat-form-field color="primary" appearance="outline">
      <mat-label>Family Name</mat-label>
      <input matInput formControlName="familyName" placeholder="Enter your family name">
      <button mat-icon-button matSuffix type="button">
      </button>
    </mat-form-field>

    <br>
    <br>
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid" class="button-style">Submit</button>
    </div>
  </form>

  <div *ngIf="registrationSuccess" class="success-message">
    <p>You have been successfully registered!</p>
  </div>

