<div class="sidebar">
  <p class="sidebar-button" [class.active]="activeButtonIndex === 0" (click)="setActiveButton(0, 'family-members')">
    Family Members</p>
  <p class="sidebar-button" [class.active]="activeButtonIndex === 1" (click)="setActiveButton(1, 'my-events')">Your Events</p>
  <p class="sidebar-button" [class.active]="activeButtonIndex === 2" (click)="setActiveButton(2, 'all-events')">All Events</p>
  <p class="sidebar-button" [class.active]="activeButtonIndex === 3" (click)="setActiveButton(3, 'add-event')">Add Events</p>
</div>
