.title-description{
  & mat-form-field {
    width: 28rem;
    font-size: 1em;
  }
}

.participants{
  & mat-form-field {
    width: 28rem;
    font-size: 1em;
  }
}

.button-style {
  border-radius: 20px;
  padding: 10px 25px;
  background-color: var(--button-active-color) !important;
}

.button-style-cancel{
  border-radius: 20px;
  padding: 10px 25px;
  border: 2px solid var(--button-active-color);
  background-color: var(--navbar-sidebar-color) !important;
  color: var(--main-text-color) !important;
}

.section-title {
  box-sizing: border-box;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.custom-snackbar {
  background: #32CD32;
}

::ng-deep.mat-mdc-select-value-text {
  color: var(--main-text-color) !important;
}

