.profile-image-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-circle-navbar {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--auth-button);
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  transition: filter 0.3s;
  margin-bottom: -1rem;
}

.user-name {
  margin-top: 1rem;
  color: var(--main-text-color);
  cursor: pointer;
}
