.event-card {
  background: linear-gradient(to right, var(--color1), var(--color2));
  border-radius: 10px;
  padding: 15px 20px;
  color: var(--main-text-color);
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  white-space: normal;
  min-width: 300px;
  max-width: 100%;
  font-size: 16px;
  margin-left: 15px;
  display: block;
  border: 2px solid var(--upcoming-card);
}

.participants-names {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.event-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-title {
  font-weight: bold;
  flex: 1;
}

.event-participants > span:first-child {
  margin-right: 5px;
}


.event-time {
  font-weight: normal;
  font-size: 16px;
}

.event-participants {
  color: var(--main-text-color);
  border-radius: 15px;
  padding: 4px 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.theme {
  cursor: pointer;
}

.live {
  border: 2px solid var(--live-card);
}

.upcoming {
  border: 2px solid var(--upcoming-card);
}

.finished {
  border: 2px solid var(--finished-card);
}

.live-participants {
  background-color: var(--live-card);
}

.upcoming-participants {
  background-color: var(--upcoming-card);
}

.finished-participants {
  background-color: var(--finished-card);
}


