.form-fields-container {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

mat-form-field + mat-form-field {
  margin-top: 16px;
}

.button-style {
  border-radius: 20px;
  padding: 10px 25px;
  background-color: var(--auth-button);
}

mat-label, .mat-mdc-input-element {
  color: var(--login-input-color) !important;
}

::ng-deep:host .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input{
  color: var(--login-input-color) !important;
}

.mat-mdc-input-element.mat-mdc-form-field-input-control::placeholder {
  color: var(--login-input-color) !important;
}
:host.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--login-input-color) !important;
}
