.member-card {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 25px;
  background: var(--family-card);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 500%;
  border: 2px solid var(--button-active-color);
}

.member-info {
  flex-grow: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 10px;
}

.member-name {
  font-size: 1.3em;
  color: var(--input-text-color);
}

.profile-image-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-circle-member {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--navbar-sidebar-color);
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  transition: filter 0.3s;
  margin-bottom: -1rem;
}

